* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgba(204, 204, 204, 0.979);
    width: 15vw;
    font-size: 30px;
    height: 100vh;
}

.sidebar nav {
    padding: 34px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 33px;
}

.main {
 background-color: rgba(226, 226, 226, 0.979);
    width: 85vw;
}

.container {
    display: flex;
}

.scontainer {
  /* background-color: rgb(0, 0, 0);*/
    margin: auto;
    margin-top: 75px;
    height: 78vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.devpic img{
    height: 45vh;
}
.hello{
font-size: 55px;

}
.name{
font-size: 45px;
font-weight: bold;
}
.about{
font-size: 35px;
font-family: 'Caveat Brush', cursive;
}
.moreabout{
    font-size: 18px;
.devpic img {
    height: 78vh;
}
