/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:#13511d26;
  text-align: inherit;
}

p {
  padding-left: 30px;
  padding-right: 30px;
}
/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  color: #4caf50;
}

.logo-container {
  width: 150px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo img {
  width: 30px;
  height: auto;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none; /* Hide initially */
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  text-decoration: underline;
}
footer{
  margin-top: 450px;
}

input#menu-toggle {
  display: none;
}

nav.nav-links {
  gap: 4rem;
}

nav.nav-links.open {
  margin-top: -570px;
  text-align: center;
}

.nav-link:hover {
  color: orangered;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block; /* Show for smaller screens */
  }

  .nav-links {
    display: none; /* Hide navigation links by default */
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
  }

  .nav-links.open {
    display: flex; /* Show navigation links when menu is open */
  }

  .nav-link {
    display: block;
    margin-bottom: 0.5rem;
  }
}

/* Main styles */
main {
  padding: 2rem;
}

/* Footer styles */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid #4caf50;
  background-color: black;
  color: #4caf50;
}

.footer-links {
  display: flex;
  gap: 1rem;
}

.footer-link {
  font-size: 0.875rem;
  text-decoration: none;
  color: inherit;
}

.footer-link:hover {
  text-decoration: underline;
}